@page {
	size: 216mm 303mm;
	margin: 0;
}

@media print {
	div.calendar {
		width: 216mm;
	}

	div.break-after {
		page-break-after: always;
	}
	.no-print,.no-print * {
		display: none !important;
	}
		
}
@media screen {
	div.break-after {
		padding-bottom: 5px;
		border-bottom: 1px solid black;
		margin-bottom: 5px;
	}
}

body {
	margin: 0px;
}

.hidden {
	display: none;
}


input {
	border-radius: 2px;
	padding: 2px;
	margin: 2px;
	width: -webkit-fill-available;
}

label {
	font-family: sans-serif;
	font-weight: bold;
	font-size: small;
}

div.calendar {
	width: 216mm;
	height: 302.8mm;
}

#cover {
	background-color: #3d5d78;
}

div.border {
	padding: 13mm;
	padding-top: 5mm;
	padding-bottom: 0px;
	display: block;
}

div.table-container {
	width: 100%;
	height: 50%;
	max-height: 150mm;
}

div.img-container {
	padding-top: 13mm;
	width: 100%;
}

#cover div.img-container {
	 padding-top: 60mm;
}

div.margin {
	display: table-cell;
  vertical-align: middle;
}

div.margin-out {
	display: table;
    height: 100%;
    width: 100%;
}

img.picture {
	height: 108mm;
	width: 190mm;
	max-height: 108mm;
	max-width: 190mm;
	margin: 13mm;
	margin-top: 5mm;
	margin-bottom: 0mm;

	display: block;
	object-fit: cover;
}


.caltable {
	border-collapse: collapse;
	width: 100%;
}

.caltable td {
	border: 1px solid black;
	font-family: 'Roboto', sans-serif;
	width: 14.3%;
	padding: 3px;
}

td.weekday {
	text-align: left;
	font-weight: bold;
	border: 0px;
}

td.daycell {
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	height: 62px;
}

td.daycell p {
	margin: 0;
}

td.daycell p.holidayName {
	font-size: 8px;
    font-weight: normal;
}

td.daycell div {
	overflow: hidden;
	height: 50px;
}

.freeday {
	color: #3986c5;
}

p.month {
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	color: white;
	text-align: left;
	margin-block-start: 0mm;
	margin-block-end: 0mm;
}

p.year {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	color: black;
	text-align: left;
	margin-block-start: 0mm;
	margin-block-end: 0mm;
}

#cover .year {
	font-size: 100px;
}

td.othermonth {
	opacity: 0.4;
}

table.layout {
	border: 0px;
	width: 100%;
	margin-block-start: 0mm;
	margin-block-end: 3mm;
	border-spacing:	0px;
}

hr.emptyline {
	margin-top: 8mm;
	border-width: 1px;
	margin-left: 5mm;
	margin-right: 13mm;
}

.monthbox {
	background-color: #bcbcbc;
	padding-left: 13mm;
	padding-top: 2mm;
	padding-bottom: 2mm;
}


td.monthbox {
	width: 40%;
}

#cover .monthbox {
	margin-top: 25mm;
}

p.description {
	font-family: 'Courgette', cursive;
	margin-block-start: 2mm;
	margin-block-end: 2mm;
	text-align: right;
	margin-right: 13mm
}
